<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button menu="first">
    </ion-menu-button>
    </ion-buttons>
    <ion-title>about</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="center-align"
  style="margin: 40px auto; max-width: 300px;">
    <h1>About AwoofEdu</h1>
    <p>
      Awoofedu app aims to give you
      free learning courses by providing coupon codes to paid 
      courses from online educational websites such 
      as udemy, eduonix, udacity etc.  
    </p>
  </div>
  
  
</ion-content>
