.fake-skeleton {
    width: 60%;
}

ion-content {
    --background: #f2f8f3 !important;
    --ion-item-background: transparent;
}

ion-label {
    --color: rgb(14, 13, 13) !important;

    p {
        color: #080808 !important;
    }
}

ion-input {
    
    
    input, textarea {
        background: #ecf1ee !important;
    }
    --color: rgb(10, 10, 10) !important;
}